In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('Churn_Modelling.csv')

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [4]:
GENDER = pd.get_dummies(data['Gender'],drop_first=True)

In [5]:
GEO = pd.get_dummies(data['Geography'],drop_first=True)

In [6]:
HAS = pd.get_dummies(data['HasCrCard'],drop_first=True,prefix='HAS')

In [7]:
IS = pd.get_dummies(data['IsActiveMember'],drop_first=True,prefix='Is')

In [8]:
#Num = pd.get_dummies(data['NumOfProducts'],drop_first=True,prefix='Num')

In [9]:
#Ten = pd.get_dummies(data['Tenure'],drop_first=True,prefix='Ten')

In [10]:
GENDER

      Male
0        0
1        0
2        0
3        0
4        0
...    ...
9995     1
9996     1
9997     0
9998     1
9999     0

[10000 rows x 1 columns]

In [11]:
GEO

      Germany  Spain
0           0      0
1           0      1
2           0      0
3           0      0
4           0      1
...       ...    ...
9995        0      0
9996        0      0
9997        0      0
9998        1      0
9999        0      0

[10000 rows x 2 columns]

In [12]:
HAS

      HAS_1
0         1
1         0
2         1
3         0
4         1
...     ...
9995      1
9996      1
9997      0
9998      1
9999      1

[10000 rows x 1 columns]

In [13]:
IS

      Is_1
0        1
1        1
2        0
3        0
4        1
...    ...
9995     0
9996     1
9997     1
9998     0
9999     0

[10000 rows x 1 columns]

In [14]:
data.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [15]:
y = data['Exited']

In [16]:
x = data[['CreditScore', 'Age', 'Tenure', 'Balance', 'NumOfProducts','EstimatedSalary']]

In [17]:
X = pd.concat([x,IS,GENDER,GEO,HAS],axis=1)

In [18]:
X.columns

Index(['CreditScore', 'Age', 'Tenure', 'Balance', 'NumOfProducts',
       'EstimatedSalary', 'Is_1', 'Male', 'Germany', 'Spain', 'HAS_1'],
      dtype='object')

In [19]:
X.shape

(10000, 11)

In [20]:
from keras.models import Sequential

In [21]:
model = Sequential()

In [22]:
from keras.layers import Dense

In [23]:
model.add(Dense(activation='relu',units=12,input_dim=11))

In [24]:
model.add(Dense(activation='relu',units=8))

In [25]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 12)                144
_________________________________________________________________
dense_1 (Dense)              (None, 8)                 104
=================================================================
Total params: 248
Trainable params: 248
Non-trainable params: 0
_________________________________________________________________

In [26]:
model.add(Dense(activation='relu',units=4))

In [27]:
model.add(Dense(activation='relu',units=2))

In [28]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 12)                144
_________________________________________________________________
dense_1 (Dense)              (None, 8)                 104
_________________________________________________________________
dense_2 (Dense)              (None, 4)                 36
_________________________________________________________________
dense_3 (Dense)              (None, 2)                 10
=================================================================
Total params: 294
Trainable params: 294
Non-trainable params: 0
_________________________________________________________________

In [29]:
model.add(Dense(activation='sigmoid',units=1))

In [30]:
model.get_weights()

[array([[-0.2976123 ,  0.12925386, -0.20937335, -0.25049812, -0.4020879 ,
         -0.01187593,  0.46772963,  0.4728529 , -0.30713934,  0.1977424 ,
         -0.04680389, -0.48854566],
        [ 0.222283  ,  0.18838257, -0.49200925, -0.05648121,  0.29282153,
         -0.4883826 ,  0.15781873, -0.08690676,  0.13306552,  0.14344788,
         -0.4938813 ,  0.47367615],
        [ 0.19243091,  0.3006906 ,  0.21654153,  0.15554315, -0.24099517,
          0.30971062,  0.18631548,  0.19161505,  0.08988559,  0.34937322,
         -0.29515612,  0.01583391],
        [-0.43073577,  0.18609107, -0.14355165, -0.28510875, -0.30948508,
         -0.20067897,  0.21140707, -0.32593006,  0.48126704,  0.50295466,
         -0.17768505, -0.38569355],
        [-0.19887188, -0.37413937, -0.44709685, -0.13869277, -0.3654378 ,
         -0.35816866, -0.11276895,  0.3471806 ,  0.02273446,  0.09764946,
          0.34984082, -0.3108247 ],
        [ 0.15687048,  0.48421758, -0.23301855, -0.1753828 , -0.21291173,
          0.36589688, -0.24199921,  0.16097558,  0.17125422, -0.35607234,
         -0.49875513, -0.3412786 ],
        [-0.00904715, -0.47633362,  0.15277022, -0.22082394, -0.06637031,
         -0.01788178, -0.02285537,  0.3217576 ,  0.39870524, -0.39178878,
         -0.20239088, -0.3610788 ],
        [ 0.39991885,  0.14377886, -0.35373795, -0.28993303,  0.43219984,
         -0.39851362, -0.3008611 ,  0.28279966, -0.37400383,  0.31863147,
         -0.13675377,  0.331504  ],
        [ 0.3946563 ,  0.11723781,  0.04146868,  0.36401916,  0.20672137,
          0.24884433,  0.1895237 , -0.35138956, -0.18009457,  0.3461079 ,
         -0.24328342, -0.19068578],
        [ 0.3073963 , -0.06915367, -0.11882973,  0.4882874 ,  0.34916002,
         -0.0516265 ,  0.06307292,  0.32873607,  0.07850295, -0.25633276,
          0.06690514,  0.20025975],
        [ 0.0370875 ,  0.167166  , -0.2797422 ,  0.09982592,  0.2479667 ,
          0.3709494 , -0.32891202, -0.47953054, -0.31846964, -0.32697368,
          0.16460282, -0.34943277]], dtype=float32),
 array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 array([[ 0.08381599,  0.42336655,  0.01887053,  0.33339065, -0.47506228,
         -0.0117082 , -0.50468504, -0.07162163],
        [ 0.24839061,  0.43828785, -0.44966593, -0.5246679 , -0.11274511,
         -0.29944608, -0.27705362,  0.3941576 ],
        [ 0.2702816 , -0.159347  , -0.25861797, -0.05346084, -0.01705664,
         -0.21124783,  0.29983693, -0.01465672],
        [ 0.27879816, -0.03631163,  0.29329985, -0.11991891,  0.2340715 ,
         -0.3788312 , -0.02190679,  0.22624189],
        [ 0.05679554,  0.2351163 ,  0.48304605, -0.43723884,  0.43307507,
          0.37098712, -0.22935769,  0.30903393],
        [-0.22523385, -0.3827076 , -0.42688197,  0.5427451 ,  0.05276573,
          0.3156932 ,  0.39455396,  0.05573672],
        [ 0.14786589,  0.34039795, -0.15052256, -0.39569527, -0.34541526,
          0.00493658,  0.09266824, -0.43425676],
        [-0.18386644,  0.47939837, -0.13357833, -0.16194397,  0.50486445,
          0.15239555, -0.04977906,  0.10989726],
        [ 0.21109116,  0.26714194,  0.24398792, -0.42650458,  0.19460005,
          0.3311901 , -0.41640586, -0.49585608],
        [-0.4221406 , -0.14407429,  0.40436614,  0.15613961, -0.03549516,
          0.26101345, -0.18837783, -0.1537764 ],
        [-0.35311496,  0.0524804 , -0.38293415, -0.25024745,  0.41752708,
         -0.33586073,  0.5459887 ,  0.46485114],
        [-0.06521109, -0.21626264, -0.31451532,  0.4511853 , -0.13336587,
          0.22095376,  0.02645969,  0.31487745]], dtype=float32),
 array([0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 array([[ 0.6423034 ,  0.48455113, -0.47374204,  0.49892205],
        [ 0.64063615, -0.46915156, -0.54472035,  0.32978362],
        [-0.61445636,  0.45821494, -0.6144235 , -0.47777146],
        [ 0.05502087, -0.45270064, -0.50508547,  0.05752724],
        [-0.51958466,  0.6727013 , -0.09620053,  0.5777473 ],
        [ 0.3255921 , -0.36771238, -0.46893612, -0.1143294 ],
        [ 0.3555929 , -0.00424808, -0.35326022, -0.7010643 ],
        [-0.05643296, -0.5646126 ,  0.12556791, -0.08095247]],
       dtype=float32),
 array([0., 0., 0., 0.], dtype=float32),
 array([[-0.22746134,  0.45927143],
        [ 0.19998765, -0.13227415],
        [-0.43676257, -0.43530583],
        [ 0.8346729 , -0.3296492 ]], dtype=float32),
 array([0., 0.], dtype=float32),
 array([[-0.0098877 ],
        [-0.14378107]], dtype=float32),
 array([0.], dtype=float32)]

In [31]:
from keras.optimizers import Adam

In [32]:
model.compile(loss='binary_crossentropy',optimizer=Adam(),metrics=['accuracy'])

In [44]:
model.fit(X,y)

313/313 [==============================] - 0s 1ms/step - loss: 0.7324 - accuracy: 0.7484

In [34]:
X.shape

(10000, 11)

In [35]:
X.shape[0] == y.shape[0]

True

In [45]:
model.save('churn.h5')

In [37]:
X.columns

Index(['CreditScore', 'Age', 'Tenure', 'Balance', 'NumOfProducts',
       'EstimatedSalary', 'Is_1', 'Male', 'Germany', 'Spain', 'HAS_1'],
      dtype='object')